<div class="span3">
  <h2><%= link_to @list.name, edit_list_path(@list) %></h2>
</div>

<% @list.items.each do |item| %>
   <p><%= link_to item.name, [@list, item] %></p>
<% end %>

<%= link_to "Add item", new_list_item_path(@list) %>
<p></p>
<%= link_to "Back to Lists", lists_path %>

