<h2><%=@list.name%></h2>
<% @list.items.each do |item| %>
   <p><%= item.name %></p>
<% end %>

<%= link_to "Add item", new_list_item_path(@list) %>
<p></p>
<%= link_to "Back to Lists", lists_path %>

